 <div id="inner">
    <img src="img/panos/pano_carpet_large.jpg" alt="East Gallery"
    style="width:auto;height:430px" usemap="#eastmap">

    <!--<map name="eastmap">
    </map>-->

    <!-- Navigate to rest of gallery -->
    <div class="arrow-nav">
      <a class="w3-button w3-xlarge w3-circle w3-black nav-left" href="index.html" title="Go to Stage"><i class="fa fa-angle-left"></i></a>
      <a class="w3-button w3-xlarge w3-circle w3-black nav-right" href="west-gallery.html" title="Go to West Gallery"><i class="fa fa-angle-right"></i></a>
    </div>
</div>